@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


body section {
    margin-top: 50px;
}






/* nav styles */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-items {
    display: flex;
    gap: 32px;
}

.nav-item {
    list-style: none;
}

.nav-links {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
}

.nav-btn {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 16px;
    cursor: pointer;
}

.nav-btn:hover {
  background: #061E29;
}





/* banner styles */
.banner {
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 675px;
}

.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.access-btn {
    display: flex;
    align-items: center;
    color: #469165;
    background-color: #FFFFFF;
    border: none;
    border-radius: 50px;
    padding: 10px;
    margin-top: 115px;
    cursor: pointer;
}
.access-btn:hover {
  background: #1deb9f;
}

.banner-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 800px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#title-span {
    color: #30B868;
}

.banner-description {
    color: #FFFFFF;
    text-align: center;
    font-size: 1.12rem;
    margin-bottom: 32px;
    line-height: 2;
}

.start-btn {
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 15px;
    margin-right: 16px;
    cursor: pointer;
}
.start-btn:hover {
  background: #e8bc46be;
}


.see-btn {
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    padding: 15px;
    cursor: pointer;
}
.see-btn:hover {
  background: #c5d89d97;
}






/* Notes styles */
.notes-div {
    text-align: center;
}

.notes-title {
    color: #001931;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 16px;

}

.notes-description {
    color: #627382;
    font-size: 1rem;

}

.card-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 45px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 320px;
    min-height: 300px;
    box-shadow: 10px 6px 50px 0px rgba(0, 0, 0, 0.09);

}

.card img {
    background-color: #F95555;
    max-width: 60px;
    padding: 10px;
    border-radius: 30px;
}

.card-title {
    color: #001931;
    font-size: 1.5rem;
    font-weight: 600;
    max-width: 275px;
    margin-top: 16px;
    margin-bottom: 16px;

}

.card-text {
    color: #627382;
    font-size: 1rem;
}




/* Brain styles */
.brain-container {
    display: flex;
    gap: 70px;
    justify-items: center;
    align-items: center;
}

.image-div img {
    margin-left: 100px;
}

.short-info {
    color: #469165;
    font-size: 1rem;
    font-weight: 600;
}

.brain-title {
    color: #001931;
    font-size: 3rem;
    font-weight: 800;
    max-width: 650px;
    margin-top: 16px;
    margin-bottom: 16px;


}

.brain-subtitle {
    color: #627382;
    font-size: 1rem;
    max-width: 500px;
    margin-bottom: 40px;
}

.brain-list {
    list-style: none;
    color: #001931;
    font-weight: 500;
    margin-bottom: 16px;
}

.brain-list>span {
    color: #FFFFFF;
    background-color: #30B868;
    padding: 4px;
    border-radius: 40px;
}




/* Ready styles */
.ready-container {
    background-color: #F7F6F2;
    max-width: 1400px;
    min-height: 380px;
    margin-left: 100px;
    margin-bottom: 120px;
    margin-top: 120px;

}

.ready-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.ready-title {
    color: #001931;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 16px;

}

.ready-description,
.ready-subtitle {
    color: #627382;
    font-size: 1rem;
    margin-bottom: 25px;
    max-width: 600px;
}






/* footer styles */
footer {
    background-color: #001931;
    min-height: 400px;
}

.footer-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo {
    margin: 100px 0px 100px 120px;
}

.footer-icon {
    margin: 100px 120px 100px 0;
}

.icon-title {
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: 10px;
}

.social-icons i {
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    margin-left: 10px;
    
}

.copy-right {
    color: #FAFAFA;
    text-align: center;
    padding: 10px;
    font: 0.9rem;
}